html{
    height:100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #2D7490;
    background-color: #F2E9DD;
    min-height: 100%;
    margin: 0;
}

aside{
    background-color: #FAF4ED;
}

main{
    margin:1%;
}

textarea{
    background-color: #FAF4ED;
    width: 100%;
}


button{
    color:#FFFFFF;
    border:0;
    padding: 1em;
    border-radius: 1em;
}

#newNoteBtn{
    background-color: #5394A0;
}

#darkThmBtn{
    background-color: #6E6987;
}

#saveBtn{
    background-color: #5394A0;
}

#cancelBtn{
    background-color: #D9827C;
}
header h1{
    text-align: center;
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.headerList li{
    padding: 0 1%;
}

aside h2{
    text-align: center;
}

aside ul{
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
}

.mainTopBtn{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}

.mainEndBtn{
    display: flex;
    justify-content: end;
    padding-top: 3%;
}

.mainEndBtn button{
    margin: 0 1%;
}

footer{
    text-align: center;
}

footer img{
    height: 7%;
    width: 7%;
}