html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #205265;
    background-color: #F2E9DD;
    min-height: 100%;
    margin: 0;
}

/**** Buttons****/

button {
    color: #FFFFFF;
    border: 0;
    padding: 1em;
    border-radius: 1em;
}

.newNoteBtn {
    background-color: #205265;
}

.newNoteBtn:hover {
    background-color: #5394A0;
}

.saveBtn {
    background-color: #205265;
}

.saveBtn:hover {
    background-color: #5394A0;
}

.cancelBtn {
    background-color: #862D27;
}

.cancelBtn:hover {
    background-color: #D9827C;
}

/****Header****/

header h1 {
    text-align: center;
    padding: 0 10%;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header ul li {
    padding: 0 1%;
}

header ul li a {
    text-decoration: none;
    color: #205265;
}

/****My notes****/

aside {
    background-color: #FAF4ED;
    text-align: center;
}

aside h2 {
    text-align: center;
}

aside ul {
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
    padding: 0 3%;
}

/****Main****/

main {
    margin: 3%;
}

.mainTopBtn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}

textarea {
    background-color: #FAF4ED;
    width: 100%;
    border: #77A7EB solid;
    resize: none;
}

.mainEndBtn {
    display: flex;
    justify-content: end;
    padding-top: 3%;
}

.mainEndBtn button {
    margin: 0 1%;
}

/****Footer****/

footer {
    text-align: center;
}

footer>a {
    display: inline-block;
}

a>img {
    max-width: 35px;
    max-height: 35px;
}

/****Desktop layout****/

@media all and (min-width:600px) {
    body {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 3fr 1fr;
    }

    aside {
        grid-column: 1/2;
        grid-row: 1/5;
    }

    header ul {
        justify-content: flex-end;
    }

    aside ul {
        text-align: left;
    }

    a>img {
        max-width: 50px;
        max-height: 50px;
    }
}